.env

.vs/
node_modules/**/*
build/**/*
bin/**/*
certs/**/*
obj/**/*
temp/**/*

*.env
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.database
*.db
*.pem
*.key
*.crt

.vscode/*
*.code-workspace

.history
.ionide

log.txt
