<!DOCTYPE html>
<html lang="de">
    <head>	
		<!-- HTML EINSTELLUNGEN -->	
		<% include partials/head %>	
        <title>FWmonitor - APP</title>	        		
    </head>	
    <body class="grey-200">

		<!-- CONTENT -->
		<div class="content">

			<!-- Titel -->
			<div class="row padding red-600">
				<div class="col-25 padding">
				  <img class="avatar circle" src="/icons/icon-384x384.png" />
				</div>
				<div class="col padding">
				  <h1 class="text-big text-light">FWmonitor APP</h1>
				  <p class="text-grey-200"><%= data["INFOTEXT"] %></p>
				</div>
			</div>

			<div class="space"></div>

			<!-- Eingabebereich -->
			<div class="padding">

				<h1 class="align-center text-big">LOGIN</h1>

				<div class="list grey-100">
					<div id="userpasscontainer">
						<div class="item label-fixed">
							<label for="in_telid">Telegram ID</label>
							<input type="text" inputmode="numeric" id="in_telid" name="telid" autocomplete="telid" required autofocus>
						</div>
						<div class="item label-fixed">
							<label for="in_passwort">Password</label>
							<input type="password" id="in_passwort" name="current-password" required>
						</div>
					</div>
					<div class="item" id="submitcontainer">
						<button class="red-700 radius full" onclick="loginUser()" id="loginbutton">ANMELDEN</button>
					</div>
					<div class="item hidden" id="changeusercontainer">
						<button class="red-700 radius full" onclick="changeUser()" id="changebutton">ANDERER BENUTZER</button>
					</div>
				</div>

			</div>

		</div>

		<!-- Zur端ck Knopf -->
		<button id="backbutton" class="blue circle icon ion-close-round shadow hidden" onclick="location.href='/'" style="top: 1em; left: 1em; position: absolute;"></button>


		<% include partials/foot %>	
		<script>

			/**
			 * Erstellt ein Cookie
			 * @param  {String} 	cname   - Cookie Name
			 * @param  {String} 	cvalue  - Cookie Wert
			 * @param  {Integer} 	exdays  - Lebesdauer in Tagen
			 */
			 function setCookie(cname,cvalue,exdays) {
				var d = new Date();
				d.setTime(d.getTime() + (exdays*24*60*60*1000));
				var expires = "expires=" + d.toGMTString();
				document.cookie = cname + "=" + cvalue + ";" + (exdays ? expires + ";" : "") + "path=/";
			}

			/**
			 * Gibt den Wert des Cookies zur端ck
			 * @param  {String} 	cname   - Cookie Name
			 * @return {String}     Cookie Wert
			 */
			function getCookie(cname) {
				var name = cname + "=";
				var decodedCookie = decodeURIComponent(document.cookie);
				var ca = decodedCookie.split(';');
				for(var i = 0; i < ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0) == ' ') {
					c = c.substring(1);
					}
					if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
					}
				}
				return "";
			}
		
			function loginUser(autologin){

				loadingElement('loginbutton');
				
				fetch('/app/login.html', {
					method: 'POST',
					headers: {'Content-Type': 'application/json'},
					withCredentials: true,
        			credentials: 'include',
					cache: 'no-store',
					mode: "cors",
					body: JSON.stringify({
						telegramID: document.getElementById("in_telid").value,
						passwort: document.getElementById("in_passwort").value
					})
				})
				.then(data => data.json())
				.then(data =>  { 
					if(data.msg=="OK"){
						if(data.auto != true) {
							window.location.replace("/app/index.html");
							//window.location.href = "/app/index.html" 
						} else {
							window.location.replace("/app/auto/index.html");
						}
					} else{
						closeLoading('loginbutton');	
						console.log("Telegram ID oder Passwort fehlerhaft!");
						if(!autologin) alert("Telegram ID oder Passwort fehlerhaft!");
						document.getElementById("userpasscontainer").classList.remove('hidden');		
						document.getElementById("changeusercontainer").classList.add('hidden');					
					}
				}) 
				.catch((err) => {
					console.error("Login Fehler: ", err);
					document.getElementById("userpasscontainer").classList.remove('hidden');
					document.getElementById("changeusercontainer").classList.add('hidden');		
					closeLoading('loginbutton');		
				})
			}

			function changeUser() {
				document.getElementById("userpasscontainer").classList.remove('hidden');		
				document.getElementById("changeusercontainer").classList.add('hidden');	
			}

			// Get Parameter auslesen
			var parts = window.location.search.substr(1).split("&");
			var $_GET = {};
			for (var i = 0; i < parts.length; i++) {
				var temp = parts[i].split("=");
				$_GET[decodeURIComponent(temp[0])] = decodeURIComponent(temp[1]);
			}		
			
			// Geladen
			document.addEventListener('DOMContentLoaded', (event) => {
				if(getCookie('token') && getCookie('token') != "") {					
					if($_GET['manuell'] == 'true') {
						document.getElementById("userpasscontainer").classList.add('hidden');		
						document.getElementById("changeusercontainer").classList.remove('hidden');							
					} else {
						document.getElementById("userpasscontainer").classList.add('hidden');		
						//document.getElementById("submitcontainer").classList.add('hidden');
						loginUser();
						setInterval(function(){ 
							if(document.getElementById("in_telid").value == '' && document.getElementById("in_passwort").value == '')
							loginUser(true); 
						}, 15000);
					}
				}
			})

			// Zur端ck Button f端r LAN Modus
			if (location.protocol == "http:") {
				document.getElementById("backbutton").classList.remove('hidden');
			}
			
		
		</script>
		
		

    </body>
	
</html>