
<meta http-equiv="refresh" content="0; url=/app/login.html" />

<div class="page hideOnNoPage" style="display: none;">  
	
	<div class="content grey-200">

		<div class="row padding red-600">
			<div class="col-25 padding">
			  <img class="avatar circle" src="/icons/icon-384x384.png" />
			</div>
			<div class="col padding">
			  <h1 class="text-big text-light">FWmonitor APP</h1>
			  <p class="text-blue-200"><%= data["INFOTEXT"] %></p>
			</div>
		</div>

		<div class="space"></div>

		<div class="padding">

			<h1 class="align-center text-big">LOGIN</h1>

			<div class="list grey-100">
				<div class="item">
					<button class="red-700 radius full" onclick="window.location.href='/app/login.html'">weiter...</button>
				</div>
			</div>

		</div>

	</div>

	
</div>

