/* ===================
    STYLES
   =================== */

body {
	/*background: #eee !important;*/
}
*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
    background-color: rgba(255,255,255,0);
}
::backdrop
{
    background-color: white;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbar::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 


/* ===================
    HILFSKLASSEN
   =================== */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#mapid {
    height: 100%;
}
#mapid_cont {
    height: 100%; 
}
.hideOnNoPage {
    display: initial !important;
}
.border-bottom-white {
    border-bottom: 1px solid white;
}
.border-top-white {
    border-top: 1px solid white;
}
.border-top-black {
    border-top: 1px solid black;
}
.img-1_5em img {
    height: 1.5em;
}
.selectedButton {
    opacity: 0.5;
}		
.ol-center {
    top: 4em;
    right: 0.5em;
}
.ol-center2 {
    top: 8em;
    right: 0.5em;
}
.lineWarpInput {
    word-break: break-all; 
    /*word-wrap: break-word;*/
}
[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: light-gray;
    background-color: transparent;
}
*[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: light-gray;
    background-color: transparent;
}
[contenteditable] {
    -webkit-user-select: auto !important;
    user-select: text;
    -webkit-user-modify: read-write;
}
*[contenteditable] {
    -webkit-user-select: auto !important;
    user-select: text;
    -webkit-user-modify: read-write;
}
.clear {
    float: clear;
}
.btnOverflow button {
    overflow: inherit !important;
    padding: 3px;
}
#mapid  button {
    overflow: inherit !important;
    padding: 3px;
    min-width: 2em;
}






@keyframes spinner {
    to {transform: rotate(360deg);}
}
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner .8s ease infinite;
  }



.page {
    background-color: #eeeeee !important;
}
.content {
    background-color: #ffffff;
    max-width: 800px;
    position: relative !important;
    margin: 0 auto;
}
.bodybg {
    background-color: #eeeeee !important;
}