
#kalender, #warnung  {  
    max-width: 30em;
}



#offlinewarning {
	background-color: #d04949;
	width: 10em;
	height: 5em;
	position: absolute;
	text-align: center;
	display: table;
	top: 5em;
	left: 1em;
	z-index: 50;
}

#offlinewarning span{
	display: table-cell;
	vertical-align: middle;	
}



.verfuegbarkeit h6 {
    color: #fff;
    margin-bottom: 0.1em;
    float: none;
}

.verfuegbarkeit div {
    padding-left: 0.8em;
}

.verfuegbarkeit .stdiv {
    padding: 0.3em;
    margin-right: 0.6em;
	padding-left: 0.6em;
	margin-bottom: 0;
    min-width: 12em;
    text-align: center;    
    color: black;
    float: left; 
	opacity: 1;
	margin-top: 0.5em;
	text-align: left;
}

.verfuegbarkeit img{
    float: right;
    margin-left: 0.2em;
	height: 1.2em;
	vertical-align: middle;
}

.verfuegbarkeit .stdiv div{
    float: right;
	height: 1.2em;
	width: 0;
	margin: 0;
	padding: 0;
}

#verv_verfuegbar .stdiv {
    background-color:  rgba(218, 247, 166, 0.6);
}

#verv_nichtverv .stdiv {
    background-color:   rgba(255, 87, 51, 0.6) ;
}

.verfuegbarkeit p {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




#main_content {
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto 23em;
    grid-auto-flow: column;
    background-size: contain !important;
}



#main_content aside {
    padding-left: 0.5em;
    border-left: 1px solid #747373;
    color:  #e8e8e0;
	
	max-height: 89vh;
	overflow: hidden;
}

#main_content aside h6 {
    color: #d1d0d0;
    margin-bottom: 0.1em;
    padding-top: 0.6em;
    float: none;
}

#main_content aside div {
    padding-left: 0.5em;
    padding-bottom: 0.01em;
    opacity: 0.8;
    background-color: #363434;
}




#termine {
	max-height: 80vh;
	overflow: hidden;
}

hr {
	margin-top: 0.1em;
	margin-right: 1em;
	margin-bottom: 0.1em;
}

/*

#main_content #warnung {
    border: none;
	padding: 0;
}

#main_content #warnung_container {
	background-color:   rgba(40, 41, 43, 0.8);
	padding: 0.4em;
	visibility: hidden;
	width: 0;
	opacity: 0.9 !important;
	
	max-height: 80vh;
	overflow: hidden;
}

.warnung_elem {
	background-color: #454545 !important;
	padding: 0 !important;
	text-align: center;
	margin-bottom: 0.3em;
	overflow: hidden;
}
#warnung_ueberschrift {
	margin-top: 0 !important;
}
.warnung_elem small {
	font-size: 0.7em;
}

*/
.warnung_elem {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#warnung_container {
	overflow: hidden;
}






/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}