#mapid {
    height: 100%;
}

header #elapsedtime {
    float: right;
    width: calc(100% - 20em);
    text-align: center;
}

#main_content {
    height: calc(100vh - 1.8em);
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content min-content auto;
    grid-auto-flow: row;
}

#top {
    background-color: #b70000;
    border-top: 1px solid white;
	max-width: 100vw;
}

#einsatzstichw {
    text-align: center;
    font-size: 1.8em;
    padding: 0.2em;
}

#bemerk {
    text-align: center;
    font-size: 1.5em;
    padding: 0.2em;
}

#ort {
    text-align: center;
    font-size: 1.5em;
    padding: 0.2em;
    background-color: #200d0d;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#center {
    display: grid;
    grid-template-columns: 12em auto 15em;
    grid-auto-flow: column;
}

#fahrzeuge {
    padding: 0.2em;
    text-align: center;
}

#fahrzeuge  p {
    border: 1px solid white;
    margin: 0.2em;
}

#fahrzeuge #fz_eigen p {
    background-color: #DAF7A6;
    color: black;
}

#status {
    text-align: center;
    padding-right: 0.2em;
}

#status img{
    float: left;
    margin-left: 0.2em;
	height: 1.2em;
	vertical-align: middle;
}

#status .stdiv{
    text-align: center;
    color: black;
    border: 1px solid white;
    margin: 0.2em;
	padding: 0.1em;
}




#status p{
    text-align: center;
    color: black;
    border: 1px solid white;
    margin: 0.2em;
}

#status #st_komme .stdiv{
    background-color: #DAF7A6;   
}

#status #st_nicht .stdiv{
     background-color: #C70039;
    color: white;
}

.st_telegram {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent) !important;
    background-size: 25px 25px !important;
}

#status #st_später .stdiv {
    background-color: #FFC300;
}

#karte {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#st_numbers {
    height: 2.3em;
    padding-left: 0.2em;
}

#st_numbers div {
    float: left;
    width: 33%;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 1.6em;
}

#count_komme {
    background-color: #DAF7A6;
    color: black;
}
#count_nicht {
    background-color: #C70039;
}
#count_später {
    background-color: #FFC300;
    color: black;
}







#status p {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}