#mapid {
    height: 100%;
    min-height: 0; /* Let the content overflow */
    flex: 1; /* Fill the available space */
}

#mapidContainer {
    height: 100%; /* Fill the window */
    display: flex; /* Magic begins */
    flex-direction: column;
    background-image: url('/images/noMap.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.alert_alarm {
    position: absolute;
    right: 1em;
    bottom: 3em;
    border-radius: 50%;
    font-size: 2em;
    z-index: 100;
    color: white;
    background-color: rgb(243, 116, 116);
    padding: 0.3em;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


.statusPopup {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
    text-align: center;
    padding: 1rem;
    background-color: var(--bg_subnavbar);
    border: 1px solid var(--color_border);
    font-size: 4em;
}

.statusText {
    position: fixed;
    bottom: 4rem;
    font-size: 1.5em;
    left: 0;
    width: auto;
    height: 1em;
    background-color: var(--bg_subnavbar);
    display: flex;
    flex-direction: row;
    padding: .2em;
}