.calendar_element {
    border: 1px solid #000;
    background-color: var(--bg_list_item);
    min-width: 15em;
    margin-top: 0.3em;
    max-width: 15em;
}

.calendar_element .var_emoji {
    padding: 0.5em;
    background-color: #f5c8c7;
}

.calendar_element .text_container {
    word-break: break-word;
}

.calendar_element .date_container {
    margin-left: .5em;
}
.calendar_element .content_container {
    padding: 0.5em;
}

.dwd_element {
    min-width: 20em;
    max-width: 20em;
}
.dwd_element .dwd_date {
    padding-top: 0.5em;
}

.col_left,
.col_center,
.col_right {
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
}

.col_left,
.col_right {
    min-width: fit-content;
}

.st_verf,
.st_nverf {
    float: left;
    padding: 0.5em;
    margin: 0.3em 0 0 0.5em;
}

.var_imagedate {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: orange;
}

/* fonts*/
@font-face {
    font-family: 'emoji';
    src: local('Noto Emoji');
    src: url('../NotoEmoji-Regular.ttf');
}
@font-face {
    font-family: 'color-emoji';
    src: local('Noto Color Emoji');
    src: url('../NotoColorEmoji.ttf');
}
.emoji {
    font-family: 'emoji';
}
.color-emoji {
    font-family: 'color-emoji';
}
