<!DOCTYPE html>
<html lang="de">

    <head>	

        <%- include('partials/head') -%>	
        <title>FWmonitor - APP</title>	

    </head>	

    <body>

        <%- include('partials/header') -%>  

            <div class="navbar">

                <button class="material-icons" onclick="goBack();">chevron_left</button>

                <h1>Alarmierung</h1>      

            </div>

            <div class="content">

                <div class="flex_column">

                    
                    <div class="list">

                        <div class="item">
                            <span class="">Achtung Einstellungen sind nur temporär!</span>
                        </div>

                        <span style="visibility: hidden;">&nbsp;</span>

                        <div class="item">
                            <span class="left material-icons">notifications_active</span>
                            <span class="text">Telegram</span>
                            <label class="switch right">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="item">
                            <span class="left material-icons">notifications_active</span>
                            <span class="text">App</span>
                            <label class="switch right">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>

                    </div>
                    
                    
                </div>

            </div>


        <%- include('partials/foot') -%>

        <script>

            // Laden

            // Speichern

            // Funktionsaufrufe


        </script>
       
    </body>
	
</html>