<!DOCTYPE html>
<html lang="de">

    <head>	

        <%- include('partials/head') -%>	
        <title>FWmonitor - APP</title>	

        <link rel="stylesheet" href="/css/mobile_picturesdiashow.css">

    </head>	

    <body>

        <%- include('partials/header') -%>  

            <div class="navbar">                

                <button class="material-icons" onclick="goBack();">chevron_left</button>
                <h1>Alarme</h1>    

            </div>

            <div class="flex_row">
                <button class="tablink flex_grow tablink_active" onclick="tab_switch('tab_active', this)">Aktiv</button>
                <button class="tablink flex_grow" onclick="tab_switch('tab_inactive', this)">Inakiv</button>
            </div>

            <div class="content" style="overflow-x: hidden; overflow-y: auto;">
                
                <div id="tab_active" class="tabcontent" style="display: block;">
                    <ul class="diashow_list_enabled">

                    </ul>
                </div>                
                <div id="tab_inactive" class="tabcontent">
                   <ul class="diashow_list_disabled">
                        
                    </ul>
                </div>   
                
            </div>

            <div id="modal_delete" class="modal">
                <span onclick="document.getElementById('modal_delete').style.display='none'" class="close" title="Close Modal">&times;</span>
                <form class="modal-content" action="/">
                    <div class="container">
                        <h1>Bild löschen</h1>
                        <p>Bild sicher löschen?</p>
                
                        <div class="clearfix">
                            <button type="button" class="button_cancel" onclick="document.getElementById('modal_delete').style.display='none'">Nein</button>
                            <button type="button" class="button_delete">JA</button>
                        </div>
                    </div>
                </form>
            </div>

        <%- include('partials/foot') -%>

       
        <script>

            const target_enabled = document.querySelector(".diashow_list_enabled");
            const target_disabled = document.querySelector(".diashow_list_disabled");
            
            // Laden 
            async function load_diashow_list() {     
                try {
                    const files = await fetch_get(url_diashow_list, true);
                    console.log('files', files);
                    const enabled = files.enabled;
                    const disabled = files.disabled;

                    // Bereits vorhandene Elemente löschen
                    let elements = target_enabled.getElementsByClassName("deleteme");
                    while(elements.length>0){elements[0].parentNode.removeChild(elements[0]);}

                    // Bereits vorhandene Elemente löschen
                    elements = target_disabled.getElementsByClassName("deleteme");
                    while(elements.length>0){elements[0].parentNode.removeChild(elements[0]);}


                    for(let i = 0; i < enabled.length; i++) {
                        const file = enabled[i];

                        const li = document.createElement("li");
                        li.classList.add('deleteme');

                        li.innerHTML = 
                            `<div>
                                <div class="button_container">
                                    <div class=" button_hide red" onclick="disable_pic('${file}')"><span class="material-icons">visibility_off</span></div>
                                </div>
                                <img src="/images/load.png" data-src="/api/v1/diashow/files/${file}" alt="image" />
                            </div>`;
                        
                        li.id = "en_" + i;

                        target_enabled.append(li);                    
                    }
                    for(let i = 0; i < disabled.length; i++) {
                        const file = disabled[i];

                        const li = document.createElement("li");
                        li.classList.add('deleteme');

                        li.innerHTML = 
                            `<div>
                                <div class="button_container">
                                    <div class=" button_show green" onclick="enable_pic('${file}')"><span class="material-icons">visibility</span></div>
                                    <div class=" button_delete red" onclick="openModal_delete('${file}')"><span class="material-icons">delete_forever</span></div>
                                </div>
                                <img src="/images/load.png" data-src="/api/v1/diashow/files/${file}" alt="image" />
                            </div>`;
                        
                        li.id = "dis_" + i;

                        target_disabled.append(li);                    
                    }

                    start_observer();

                } catch (error) {
                    console.error('load_diashow_list', error);
                    if(error.show) alert('Daten konnten nicht geladen werden.');
                } 
            }


            // Speichern
            async function disable_pic(filename) {
                loaderIn();
                try {
                    const response = await fetch_post(url_diashow_disable, {filename: filename});
                    console.log('disable_pic', response); 
                    
                    load_diashow_list();
                } catch (error) {
                    console.error('disable_pic', error);
                    alert('Einstellungen konnten nicht gespeichert werden.');
                }       
                loaderOut();
            }

            async function enable_pic(filename) {
                loaderIn();
                try {
                    const response = await fetch_post(url_diashow_enable, {filename: filename});
                    console.log('enable_pic', response);      
                    load_diashow_list();
                } catch (error) {
                    console.error('enable_pic', error);
                    alert('Einstellungen konnten nicht gespeichert werden.');
                }       
                loaderOut();
            }

            async function delete_pic(filename) {
                loaderIn();
                try {
                    const response = await fetch_post(url_diashow_delete, {filename: filename});
                    console.log('delete_pic', response);      
                    load_diashow_list();
                } catch (error) {
                    console.error('delete_pic', error);
                    alert('Einstellungen konnten nicht gespeichert werden.');
                }       
                loaderOut();
            }


            // Hilfsfunktionen
            // https://www.zachleat.com/web/facepile/
            function start_observer() {
                if( typeof IntersectionObserver !== "undefined" && "forEach" in NodeList.prototype ) {
                    var observer = new IntersectionObserver(function(changes) {
                        if ("connection" in navigator && navigator.connection.saveData === true) {
                            return;
                        }

                        changes.forEach(function(change) {
                            if(change.isIntersecting) {
                                change.target.setAttribute("src", change.target.dataset.src);
                                observer.unobserve(change.target);
                            }
                        });
                    });

                    document.querySelectorAll("img[data-src]").forEach(function(img) {
                        observer.observe(img);
                    });
                }
            }

            function openModal_delete(filename) {                
                const modal = document.querySelector('#modal_delete');
                modal.style.display = 'block';
                modal.querySelector('.button_delete').onclick = () => {
                    delete_pic(filename);
                    document.getElementById('modal_delete').style.display='none';
                };
            }


            // Funktionsaufrufe
            loaderFunction = () => {
                load_diashow_list();
            };
            

        </script>

    </body>
	
</html>