<!DOCTYPE html>
<html lang="de">

    <head>	

        <%- include('partials/head') -%>	
        <title>FWmonitor - APP</title>	

        <link rel="stylesheet" href="/css/mobile_picturesdiashow.css">

    </head>	

    <body>

        <%- include('partials/header') -%>  

            <div class="navbar">                

                <button class="material-icons" onclick="goBack();">chevron_left</button>
                <h1>Alarme</h1>    

            </div>

            <div class="content">

                <div class="flex_row">
                    <button class="tablink flex_grow tablink_active" onclick="tab_switch('tab_active', this)">Aktiv</button>
                    <button class="tablink flex_grow" onclick="tab_switch('tab_inactive', this)">Inakiv</button>
                </div>
               
                
                <div id="tab_active" class="tabcontent" style="display: block;">
                    <div class="flex_row flex_wrap diashow">

                        <img src="/images/load.png" data-src="img" alt="img" class="">
                            
                    </div>
                </div>                
                <div id="tab_inactive" class="tabcontent">
                   
                </div>   
                
            </div>

        <%- include('partials/foot') -%>

       
    <script>
        // https://www.zachleat.com/web/facepile/
        if( typeof IntersectionObserver !== "undefined" && "forEach" in NodeList.prototype ) {
            var observer = new IntersectionObserver(function(changes) {
                if ("connection" in navigator && navigator.connection.saveData === true) {
                    return;
                }

                changes.forEach(function(change) {
                    if(change.isIntersecting) {
                        change.target.setAttribute("src", change.target.getAttribute("data-src"));
                        observer.unobserve(change.target);
                    }
                });
            });

            document.querySelectorAll("img[data-src]").forEach(function(img) {
                observer.observe(img);
            });
        }

        // Laden 

        // Speichern

        // Funktionsaufrufe
    </script>

    </body>
	
</html>