<!DOCTYPE html>
<html lang="de">

    <head>	

        <%- include('partials/head') -%>	
        <title>FWmonitor - APP</title>	

    </head>	

    <body>

        <%- include('partials/header') -%>  

            <div class="navbar">

                <button class="material-icons">arrow_forward</button>

                <h1>FWmonitor - Weiterleitung</h1>      

            </div>

            <div class="content" style="display: flex; align-items: stretch;">

                <div class="flexcontainer" style="flex: 1; display: flex; align-items: center; justify-content: center;">
                    <div>
                        <div class="spinner_rotateplane"></div>
                        <h2>Weiterleiten...</h2>
                    </div>
                </div>

            </div>

            <script>
                // Redirect
                setTimeout(function(){ loaderIn('index', true); }, 3000);
            </script>

        <%- include('partials/foot') -%>

       
    </body>
	
</html>