<!DOCTYPE html>
<html lang="de">

    <head>	

        <%- include('partials/head') -%>	
        <title>FWmonitor - APP</title>	

    </head>	

    <body>

        <%- include('partials/header') -%>  

            <div class="navbar">

                <button class="material-icons" onclick="goBack();">chevron_left</button>

                <h1>Alarm - Benachrichtigungen</h1>      

            </div>

            <div class="content">

                <div class="flex_column">

                    
                    <div class="list">

                        <div class="item">
                            <span class="left material-icons">notifications_active</span>
                            <span class="text">Telegram</span>
                            <label class="switch right">
                                <input type="checkbox" checked disabled>
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="item">
                            <span class="left material-icons">notifications_active</span>
                            <span class="text">App</span>
                            <label class="switch right">
                                <input class="var_appnotifications" type="checkbox" onchange="updateSettings()">
                                <span class="slider round"></span>
                            </label>
                        </div>

                    </div>
                    
                    
                </div>

            </div>


        <%- include('partials/foot') -%>

        <script>

            async function loadSettings(id) {
                let userList = await fetch_get('/api/v1/user/notifications/app/' + id, true);
                console.log('user' , userList);
                if(!userList) return;

                const user = userList[0];

                const var_appnotifications = document.querySelector('.var_appnotifications');      
                var_appnotifications.checked = user.var_appnotifications > 0 ;

            }

            async function updateSettings() {

                const var_appnotifications = document.querySelector('.var_appnotifications').checked;
                
                if(var_appnotifications) {
                    if (Notification.permission !== "granted") {
                        if (Notification.permission !== "granted") {
                    }
                }

                // save value, subscription

            }

            loadSettings(user_id);

        </script>
       
    </body>
	
</html>