<!DOCTYPE html>
<html lang="de">

    <head>	

        <%- include('partials/head') -%>	
        <title>FWmonitor - APP</title>	

    </head>	

    <body>

        <%- include('partials/header') -%>  

            <div class="navbar">                

                <button class="material-icons" onclick="goBack();">chevron_left</button>
                <h1>Statistik</h1>    

                <div class="flex_grow"></div> 

                <button class="material-icons" onclick="yearBack()">chevron_left</button>
                <h1 class="var_year">2020</h1>    
                <button class="material-icons" onclick="yearForeward()">chevron_right</button>

            </div>

            <div class="content">

                <div class="flex_column">

                    <div class="list">

                        <div class="item">
                            <span class="text">Einsatzzeit</span>
                            <span class="text right var_usertime" onclick="loadTime(user_id);">antippen zum laden</span>
                        </div>

                    </div>

                    <div class="list list_statistic">

                        <div class="item">
                            <span class="text">Einsätze</span>
                            <span class="text right var_counttotal">##</span>
                            <span class="text right"> Einsätze</span>
                        </div>

                        <template id="template-statisticelement">
                            <div class="item subitem deleteme">
                                <span class="text var_text">Text</span>
                                <span class="text right var_count">##</span>
                            </div>
                        </template>

                    </div>


                </div>
                
            </div>

        <%- include('partials/foot') -%>

        <script>

            var year = new Date().getFullYear();
            var thisyear = year;
            
            async function loadStatistic(year) {       
                let statisticList = await fetch_get('/api/v1/statistic/' + year, true);
                console.log('statistic ' + year, statisticList);
                if(!statisticList) return;

                var target = document.querySelector(".list_statistic");

                var elements = target.getElementsByClassName("deleteme");
                while(elements.length>0){elements[0].parentNode.removeChild(elements[0]);}

                let countTotal = 0;

                for (let i = 0; i < statisticList.length; i++) {
                    const template   = document.querySelector('#template-statisticelement');                
                    const var_text   = template.content.querySelector(".var_text");
                    const var_count   = template.content.querySelector(".var_count");

                    var_text.innerHTML   = statisticList[i].einsatzstichwort;
                    var_count.innerHTML   = statisticList[i].count;

                    // Neue Zeile (row) klonen und in die Tabelle einfügen                    
                    var clone = document.importNode(template.content, true);
                    target.appendChild(clone);

                    countTotal += parseInt(statisticList[i].count);
                }

                const var_year   = document.querySelector(".var_year");
                const var_counttotal   = document.querySelector(".var_counttotal");
                var_year.innerHTML   = year;
                var_counttotal.innerHTML   = countTotal;
   
            }

            function yearBack() {                
                year--;
                loaderIn();
                loadStatistic(year);
                clearTime();
                loaderOut();
            }

            function yearForeward() {                
                year++;
                if (year > thisyear)  {year = thisyear; return;}
                loaderIn();
                loadStatistic(year);
                clearTime();
                loaderOut();
            }

            async function loadTime(id) {
                let user_time = await fetch_get('/api/v1/statistic/time/' + id, true);
                console.log('user time', user_time);
                if(!user_time) return;

                const var_usertime = document.querySelector('.var_usertime');    

                var_usertime.innerHTML = `${Math.round(user_time.time / 60)} h ${user_time.time % 60} m`;
            }

            async function clearTime() {
                const var_usertime = document.querySelector('.var_usertime');   

                var_usertime.innerHTML = 'antippen zum laden';
            }


            loadStatistic(year);
            
        </script>

       
    </body>
	
</html>