{
   "type": "FeatureCollection",
   "features": [
  {
    "type": "Feature",
    "geometry": {
       "type": "Point",
       "coordinates":  [ 12.235124,47.775684 ]
    },
    "properties": {
    "FIELD1":"RO-L-1016"
    }
  },
  {
    "type": "Feature",
    "geometry": {
       "type": "Point",
       "coordinates":  [ 12.139214,47.740549 ]
    },
    "properties": {
    "FIELD1":"RO-L-1018"
    }
  }
]
}