<!-- FOOTER NAVIGATION -->

<div
style="
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background-color: var(--bg_navbar);
    display: flex;
    flex-direction: row;"
>

    <button class="btn" onclick="loaderIn('calendar');">
        <span class="material-icons">calendar_today</span>
    </button>
    <button class="btn" onclick="loaderIn('status');">
        <span class="material-icons">mode</span>
    </button>
    <button class="btn" onclick="loaderIn('statistic');">
        <span class="material-icons">bar_chart</span>
    </button>
    <button class="btn" onclick="loaderIn('alarm_list');">
        <span class="material-icons">format_list_bulleted</span>
    </button>
    <button class="btn" onclick="loaderIn('menu');">
        <span class="material-icons">more_horiz</span>
    </button>

</div>