
<!-- WRAPPER -->
<div class="wrapper">

    <!-- LOADER -->
    <div class="loader" id="pageloader">
        <div class="info">
            <div class="spinner_rotateplane"></div>
        </div>            
    </div>