
<!-- WRAPPER -->
<div class="wrapper_app">

    <!-- LOADER -->
    <div class="loader hidden" id="pageloader">
        <div class="info flex-grow flex_column flex_center_horizontal flex_center_vertical">
            <div class="spinner_rotateplane"></div>
            <h2 class="text_align_center var_text hidden text_white"></h2>
        </div>            
    </div>
